/*-----------------------Global styles----------------------------*/


body {
    overflow-x: hidden;
}

/*------------Denne er for at laptop menu styles ikke vise på mobil størrelsen-------------------*/
#menu {
    display: none;
}

/*---------------------mobilmenu--------------------------*/
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
}

.nav a {
    margin-left: 20px;
    margin-top: 15px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    
}

.nav a:hover {
    color: lightcoral;
    transition: 0.4s;
}

.nav .close {
    position: absolute;
    top: 0;
    right: 10px;
    margin-left: 30px;
    font-size: 30px;
    padding: 10px;
}

#contentmobile {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    position: absolute;
}

.slide i:hover {
    color: lightcoral;
    transition: 0.4s;
}


/*-------------------------hero images styles-----------------------*/
#bella {
    width: 100%;
}

a {
    color: var(--main-color);
}


/*-------------------hero images buttons styles----------------------*/

#buttonStyles {}


/*---------------------Omkring mig styles--------------------------*/

#aboutBella {}


/*---------------------Footer styles------------------------------*/

footer {}



/*---------------------tablet styles--------------------------*/
@media (min-width: 725px) {}


/*---------------------laptop styles--------------------------*/
@media (min-width:1025px) {

    /*-------------denne er for at burgermenuen ikke vises på laptop størrelse----------------*/
    #contentmobile {
        display: none;
    }


    /*---------------Laptop menu styles--------------------*/
    #menu {
        display: block;
        position: absolute;
        padding-top: 3%;
        width: 100%;
    }

    #menu a {
        margin: 5%;
        text-decoration-line: none;
    }

    a:hover {
        color: lightcoral;

    }

}
